.d-header {
  & > .wrap {
    display: grid !important;
    grid:
      ". . . . . ." auto
      "left-menu logo extra-info header-buttons search right-menu" auto
      ". . . . . ." auto
      / auto 1fr auto auto auto auto;
    padding: 0 8px;
    box-sizing: border-box;
    &,
    & .contents {
      display: contents;
    }
  }

  .panel {
    &,
    & > .d-header-icons {
      display: contents;
    }
    & .hamburger-panel {
      position: absolute !important;
      & > .menu-panel.drop-down  {
        top: 60px !important;
        right: unset !important;
      }
    }

    & .search-menu {
      position: relative !important;
      & > .menu-panel.drop-down  {
        top: 60px !important;
      }
    }

    & .user-menu {
      position: relative !important;
      & > .menu-panel.drop-down  {
        top: 60px !important;
      }
    }
  }

  .header-buttons {
    grid-area: header-buttons;
  }
  .search-dropdown {
    grid-area: search;
  }
  .hamburger-dropdown {
    grid-area: left-menu;
  }
  .current-user {
    grid-area: right-menu;
  }
  .extra-info-wrapper {
    grid-area: extra-info;
    width: calc(100vw - 100px);
  }

  // some protection for text-only site titles
  .title {
    grid-area: logo;
    @if ($center_logo == "true") {
      margin: 0 auto;
    }
    max-width: unset;
  }
}
